<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find robot_simulation)/urdf/robot_simulation.urdf" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find robot_simulation)/urdf.rviz" />
</launch>