<?xml version="1.0"?>
<launch>
        <node pkg="car_control_2" name="lidar_publisher_temp" type="lidar_publisher.py"/>
	<node pkg="car_control_2" name="pose_publisher" type="vel_publisher.py" />
	<node pkg="car_control_2" name="bl_laser" type="tf.py" />
	<node pkg="rosserial_arduino" name="serial_arduino" type="serial_node.py">
	<param name="_port" value="/dev/ttyACM0"/>
	</node>
</launch>
